@import url("./tour.css");

.wrapper {
  max-width: 1400px;
  margin: 0 auto;
}
.tour-detail {
  font-size: 10px;
  margin-top: 20px;
}
:root {
  --background-color: rgba(0, 0, 0, 0.58);
}
.button-booking {
  font-size: 3.6em !important;
}

.tour-detail__main-image img {
  width: 100%;
}
.tour-detail__title-box {
  position: relative;
  z-index: 0;
}
.tour-detail__description-box {
  max-width: 1200px;
  margin: 0 auto;
}

.quick-desc {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.quick-desc__title {
  background-color: var(--background-color);
  font-size: 6.4em;
  max-width: 700px;
  text-align: center;
  padding: 50px 60px;
  border-radius: 10px;
}

.quick-desc__options {
  display: flex;
  padding: 100px 0 157px 0;
  column-gap: 30px;
}
.quick-desc__options :first-child::before {
  content: "";
  background-image: url("../../img/cards/rub.png");
  background-repeat: no-repeat;
  width: 26px;
  height: 32px;
  display: inline-block;
  background-position: center;
  background-size: contain;
  padding-right: 60px;
}
.quick-desc__item {
  background-color: var(--background-color);
  font-size: 3.6em;
  min-width: 300px;
  width: 100%;
  border-radius: 30px;
  padding: 33px 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.button-booking {
  background-color: var(--background-color);
  color: inherit;
  min-width: 300px;
  border-radius: 100px;
  font-size: 36px;
  padding: 33px 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* .description-tour {
} */
.description-tour__days {
  font-size: 6.4em;
  text-align: center;
}
.desciption-tour__item {
  display: flex;
}
.desciption-tour__item:not(:last-of-type) {
  margin-bottom: 36px;
}
.description-tour__time {
  background-color: rgba(90, 90, 90, 1);
  font-size: 36px;
  width: 118px;
  height: 74px;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}
.description-tour__direction {
  background-color: rgba(255, 255, 255, 1);
  min-height: 193px;
  height: 100%;
  width: 100%;
  padding: 16px 73px 31px 23px;
  box-sizing: border-box;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
.description-tour__sight-name {
  font-size: 4em;
  margin-bottom: 16px;
}
.description-tour__text {
  font-size: 2.4em;
  white-space: pre-wrap;
}

@media screen and (max-width: 1180px) {
  .tour-detail {
    font-size: 9px;
  }
  .quick-desc__title {
    padding: 50px 60px;
  }
  .quick-desc__options {
    padding: 100px 0 50px 0;
  }
  .quick-desc__item {
    min-width: 225px;
    padding: 33px 30px;
  }
}

@media screen and (max-width: 991px) {
  .tour-detail {
    font-size: 8px;
  }
  .quick-desc__title {
    padding: 30px 40px;
  }
  .quick-desc__options {
    padding: 60px 0 50px 0;
  }
  .quick-desc__item {
    padding: 20px 20px;
  }
}

@media screen and (max-width: 850px) {
  .tour-detail {
    font-size: 5px;
  }
  .quick-desc__options {
    flex-wrap: wrap;
    row-gap: 10px;
    justify-content: center;
    padding: 45px 0 40px 0;
  }
  .quick-desc__item {
    width: auto;
    min-width: auto;
  }
  .quick-desc__item:first-child::before {
    width: 0;
    height: 20px;
  }
  .quick-desc__title {
    padding: 30px 40px;
  }
  .button-booking {
    padding: 23px 0px;
    min-width: 240px;
  }
}
@media screen and (max-width: 768px) {
  .description-tour__text {
    font-size: 17px;
  }
}
@media screen and (max-width: 700px) {
  .tour-detail {
    font-size: 4px;
  }
  .quick-desc {
    width: 100%;
  }
  .quick-desc__title {
    padding: 13px 40px;
  }
  .quick-desc__options {
    padding: 20px 0 20px 0;
  }
  .quick-desc__item {
    padding: 7px 12px;
  }
  .button-booking {
    padding: 10px 0px;
  }
}

@media screen and (max-width: 425px) {
  .description-tour__text {
    font-size: 17px;
  }
}
